//Tipografia
$fuente_principal: 'Montserrat', sans-serif;

//Colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000;
$blanco: #FFF;
$gris: #e1e1e1;
$gris_claro: #ffffff;
$grisOscuro: #333333;
$rojo: rgb(239, 62, 66);
$azul: #0f3973;

//Tamanos Media Querys

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

