.footer{
    background-color: $azul;
    display: flex; 
    h3{
        color: $blanco;
        text-align: center;
        @include tablet {
            margin: 0;
        }
        
    }
    .contenido-header{
        padding: 2rem;
       
            display: flex;
            justify-content: space-between;
            align-items: center;
        h3{
            margin: 0;
        }
    }
    .imagen-logo{
        display: flex;
        margin: 2rem 8rem;
        align-items: center;
       img{
        height: 10rem;
       }
    }


}